nav.navbar button.navbar-toggler:focus {
  outline: none;
}
.row-content {
  margin: 3rem auto;
  border-bottom: 1px ridge;
  min-height: 300px;
}
.footer .row {
  margin-bottom: 2rem;
}
.footer.jumbotron {
  margin-bottom: 0;
}
.tab-content {
  border: 1px solid #ddd;
  border-top: none;
  padding: 1rem;
}
a,
a:active,
a:focus,
a:hover {
  color: #000;
  text-decoration: none;
}
.carouselContainer {
  position: relative;
}

.carousel {
  background: #512dab;
  margin: 3rem;
}
.carousel-item {
  height: 300px;
}
.carousel-item img {
  position: absolute;
  left: 0;
  top: 0;
  min-height: 300px;
}

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}
