nav.navbar button.navbar-toggler:focus {
  outline: none;
}
.row-content {
  margin: 3rem auto;
  border-bottom: 1px ridge;
  min-height: 300px;
}
.footer .row {
  margin-bottom: 2rem;
}
.footer.jumbotron {
  margin-bottom: 0;
}
.tab-content {
  border: 1px solid #ddd;
  border-top: none;
  padding: 1rem;
}
